/**,*/
/**:active*/
/**:backdrop,*/
/**:disabled,*/
/**:focus,*/
/**:focus-visible,*/
/**:focus-within,*/
/**:hover,*/
/**:intermediate,*/
/**:selected,*/
/**:visited*/
/*revealer>row*/
/**.expander {background-color: red;}*/
/**.empty {background-color: green;}*/
/**.header {background-color: blue;}*/
/**.nested {background-color: green;}*/
/*row:not(.header) {background-color: cyan;}*/
flowbox {background-color:        rgba(255,255,255,1.0);}
flowbox:active {background-color: rgba(255,255,255,1.0);}
